/* shoutout dracula for the pallette: https://spec.draculatheme.com/ */
:root {
  --background: #282a36;
  --current-line: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --red: #ff5555;
  --yellow: #f1fa8c;

  --main-font-family: Fira sans, system-ui, sans-serif;
  --main-font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--main-font-family);
  margin: auto;
  padding: 8vw 5vw 5vw 5vw;
}

header {
  background-color: var(--current-line);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 1.6vw
}

.game-visual-presentation {
  width: 88vw;
  margin: 0 1vw;
}

.game-visual-presentation h1 {
  margin: 0;
}

.board {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 88vw;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.board div {
  background-color: var(--current-line);
  color: var(--comment);
}

.board div:nth-child(-2n+8),
.board div:nth-child(8) ~ div:nth-child(-2n+15),
.board div:nth-child(16) ~ div:nth-child(-2n+24),
.board div:nth-child(24) ~ div:nth-child(-2n+31),
.board div:nth-child(32) ~ div:nth-child(-2n+40),
.board div:nth-child(40) ~ div:nth-child(-2n+47),
.board div:nth-child(48) ~ div:nth-child(-2n+56),
.board div:nth-child(56) ~ div:nth-child(-2n+63) {
  background-color: var(--comment);
  color: var(--current-line);
}

.moves div {
  display: inline-block;
}

.move {
  background-color: var(--current-line);
  padding: 1rem 1.6rem;
}

.move:nth-child(2n) {
  background-color: var(--background);
}