/* shoutout dracula for the pallette: https://spec.draculatheme.com/ */
:root {
  --background: #282a36;
  --current-line: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --red: #ff5555;
  --yellow: #f1fa8c;

  --main-font-family: Fira sans, system-ui, sans-serif;
  --main-font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--main-font-family);
  margin: auto;
  padding: 5vw;
}

.board {
  background-color: var(--current-line);
  color: var(--comment);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80vw;
  height: 80vw;
  margin: 5vw;
}